.about-holder {
    /*width: 20%;*/
    /*height: auto;*/
    display: block;
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    /*margin: 0 5px;*/
}

img.about {
    /*height: 60px;*/
    width: 20%;
}

p {
    line-height: 2rem;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.slick-list {
    width: 100%;
    max-height: 600px;
    /*width: 100%;*/
    /*max-height: 500px;*/
    margin: 0 auto;
}

.slick-autoplay {
    width: 100%;
    margin: 0 auto;
    /*margin: 30px 50px 50px;*/
}

.slick-dots {
    bottom: -30px;
}

.slick-prev:before {
  color: black;
}
.slick-next:before {
  color: black;
}

.slick-autoplay-sponsor {
    width: 100%;
}

.slick-autoplay-sponsor img {
    height: 100px;
}

.slick-autoplay-sponsor {
}
