<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<title>Some title</title>
{% block head %}
    <link href="{% static 'css/style-index.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}
<body>
{% block content %}
{% for product in goods %}
    <div>
        <img src="{{ product.image.url }}">
        <span>{{ product.price }}</span>
    </div>
{% endfor %}
{% endblock %}


<!--  Scripts-->
<script src="{% static 'libs/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'libs/material/js/materialize.js' %}"></script>

<!--<script src="{% static 'js/init.js' %}"></script>-->

</body>
</html>