nav .brand-logo img {
    height: 100%;
}

nav ul a {
    color: #444;
}

nav .brand-logo {
    height: 100%;
}

ul li {
    margin: 0 auto;
}

.sidenav-trigger {
    color: #26a69a;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

footer.page-footer {
    margin: 0;
}

#button-to-top {
    display: inline-block;
    background-color: #00A69A;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
}

#button-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

#button-to-top:active {
    background-color: #555;
}

#button-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#nav-item {
    padding-left: 20px;
    color: #444;
    cursor: pointer;
}

ul#dropdown1 a {
    text-align: center;
}

.product-type {
    margin: 20px 20px;
    padding: 20px 5.5%;
    border-radius: 10px;
}

.product-type img {
    width: 100%;
}

.product-type a {
    display: none;
}

ol {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

ol li {
    margin-left: 20px;
    height: 200px;
    width: 200px;
    float: left;
    position: relative;
}

ol li span {
    background: #000;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    height: 0px;
    transition: all 0.5s;
}

ol li:hover span {
    height: 50px;
}

ol li span:hover {
    opacity: 1;
}

.searchBar {
    display: none;
}

input[type=search] {
  width: 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
  width: 100%;
}